* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Primary-Color: #091E42;
    --Second-Color : #072E6D;
    --Third-Color : #0C4DB6;
}

