nav {
    background-color: var(--Primary-Color);
    width: 100vw;
    height: 10vh;
    color: white;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    width: 300px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.Icon {
    height: 75%;
}

.Logo {
    height: 100%;
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.Logo button img {
    height: 7vh;
}

.Second-Logo {
    height: 100%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 10px;
}

.Second-Logo img {
    height: 5vh;
}
